// Variables
$font-main: "Merriweather", "Helvetica Neue";
$font-heading: "Merriweather", "Helvetica Neue";
$black-2: #444;
$white-2: #DDD;
/*
$primary: #ffcc00; //#642065; //#42DCA3;
$color-dark-1: #000000;
$color-dark-2: #444464;
$color-light-1: #e0e0e0; //#a3c2c2; stribro
$color-light-2: #ffcc00;
$font-heading: "Lora";
$font-main: "Source Sans Pro";
$section-padding-s: 100px;
$section-padding: 150px;
*/