@import "variables";

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

html {
    width: 100%;
    height: 100%;
}

@media (min-width:992px) { //767
    .navbar {
        padding: 20px 0;
        @include vendor-prefix('transition', 'background .5s ease-in-out,padding .5s ease-in-out,opacity .5s');
    }
    .top-nav-collapse {
        padding: 0;
    }
}

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: $font-main, Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: white;
    font-size: 15px;
    @media (min-width: 768px) {
        font-size: 17px;
    }
    background: url('../img/brush1.jpg');
    //background-attachment: fixed;

    //background: url('../img/vetve-stock.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    @include vendor-prefix('background-size', 'cover');
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    //text-transform: uppercase;
    font-weight: 700;
    //color: $primary;
    font-family: $font-heading;
    letter-spacing: 1px;
}

h1 {
    margin: 0 0 35px;
    text-align: center;
}

p {
    line-height: 1.5;
    @media (min-width: 768px) {
        line-height: 1.6;
    }
}

.navbar-brand img {
    height: 22px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    color: $black-2;
}

.section-intro {
    @media (max-width: 767px) {
        background-color: rgba(0,0,0,0.7);
    }
    
    #intro-video {
        z-index: -10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media (min-aspect-ratio: 16/9) {
            height: 300%;
            top: -100%;
        }

        @media (max-aspect-ratio: 16/9) {
            width: 300%;
            left: -100%;
        }

        @media (max-width: 767px) {
            display: none;
        }
        @include vendor-prefix('transition', '0.5s opacity');
    }

    height: 100vh;
    overflow:hidden;

    h1 {
        color:white;
        padding-top:10px;
        line-height:150%
    }

    @include vendor-prefix('user-select', 'none');

    .wrapper-outer {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        @include vendor-prefix('transition', '0.5s opacity');
        background:rgba(0,0,0,0.5);
    }

    .wrapper-inner {
        position:relative;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        
    }

    #logo { 
        display: block;
        margin: 0 auto;
        max-width: 80vw;
    }

    #bgCanvas {
        background-color: black;//#ddd;
        width:100%;
        height:100%;
        position:absolute;
         margin:0;padding:0;
        z-index: -1;
    }
}

.section{
    //width: 100%;
    @media (min-width: 768px) {
        padding: 150px 0px;
    }

}

.textblock {
    padding: 100px 20px;
    @media (min-width: 768px) {
        padding: 100px 50px;
    }
    
    background-color: rgba(255, 255, 255, 0.9);
    text-align: justify;
}


.inv { //invert?
    //filter: invert(100%);
    //-webkit-filter: invert(100%);
    background: url('../img/brush1-inv.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    @include vendor-prefix('background-size', 'cover');
    .textblock {
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }
}

.section-o-nas {
    .highlight{
        text-align: center;
        font-weight: 700;
        margin: 50px 0px;
    }
    //font-size: 1.2em;
    //background-color: rgba($white-2, 0.3);
}

.section-program {
    //background: #fff;
}

.section-ucinkujici {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    //background: #eee;
}

.section-prakticke {

}

.section-kontakty .textblock {
    text-align: center;
    h2, h3 {
        margin-top: 40px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-style: italic;
    }
}